.container {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center; /* This ensures all children, including text and images, are centered */
    max-width: 800px;
    padding: 0 100px; /* Adjusted to ensure padding doesn't affect centering */
  }
  
  .roboto {
    font-family: var(--font-roboto-mono);
    font-weight: 300;
  }
  
  .outerContainer {
    display: flex;
    justify-content: center;
  }
  
  /* Updated .xLogo for wrapping div around Image component */
  .xLogo {
    border-radius: 35px; /* If you want rounded corners for the images or their wrappers */
    overflow: hidden; /* Ensures the border-radius applies if the Image is larger than the container */
    display: inline-flex; /* Use inline-flex to prevent stretching */
    justify-content: center;
    align-items: center;
    margin-top: 35px;
  }
  
  .imageContainer {
    display: flex;
    flex-direction: row;
    gap: 15px; /* Adds space between the child elements */
  }
  
  .text {
    color: #898787
  }

  .specialLink:hover p {
    color: black; /* This will apply to <p> within the <a> tag on hover */
  }