/* page.module.css */

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 60px;
  width: 100%;
  justify-content: center;
}

.tileWrapper {
  width: 100%; /* Full width to contain the Tile */
  display: flex; /* Use flex to center the Tile */
  justify-content: center; /* Center Tile horizontally */
  padding: 5px; /* Space around the Tile */
  box-sizing: border-box; /* Include padding in the width calculation */
}

.tileContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px; /* Adjust the gap between inner elements */
  margin: auto; /* Center the tile containers */
  width: calc(100% - 10px); /* Full width accounting for margin */
  flex-direction: row; /* Default direction is row */
  box-sizing: border-box; /* Padding and border included in the width */
}

@media (max-width: 700px) {
  .tileContainer {
    flex-direction: column;
    width: 90%;
    justify-content: center;
  }
}

.linesContainer {
  display: flex;
  justify-content: center;
  width: 100%;
}
.linesContainer {
  display: flex;
  justify-content: center;
  width: 100%; /* Ensure this container takes the full width */
}
